.App{
  background-image: url(./bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  /* background-position: to; */
}
.container{
  backdrop-filter: blur(20px) saturate(200%);
  -webkit-backdrop-filter: blur(20px) saturate(200%);
  background-color: rgba(47, 47, 47, 0.38);
  border: 1px solid rgba(255, 255, 255, 0.125);
  
}

.card{
  border: 1px solid rgba(255, 255, 255, 0.33);
}

.card button{
  /* background-color: rgba(33, 32, 32, 0.672); */
  border: 1px solid rgba(255, 255, 255, 0.33);
}

.svg svg:hover{
  fill: yellow;
  stroke: white;
}

.contact-list::-webkit-scrollbar{
  background-color: transparent;
  width: 5px;
}
.contact-list::-webkit-scrollbar-thumb{
  background-color: red;
  border-radius: 20px;
}

input, textarea{
  background-color:transparent;
  border-bottom: 1px solid white;
  outline: none !important;
}

form p{
  font-size: smaller;
}



.cnct{
  border: 0.5px solid rgba(255, 255, 255, 0);
}
.cnct:hover{
  border: 0.5px solid rgba(255, 255, 255, 0.179);
  background-color: rgba(255, 255, 255, 0.075);
}

.c{
  border: 0.5px solid rgba(255, 255, 255, 0.079);
}

.loader div{
  height: 50px;
  width: 50px;
  animation: spin 0.8s linear 0s infinite;
  border: 10px solid transparent;
  border-left-color: red;
  border-right-color: blue;
  border-radius: 50%;
  margin-right: 10px;
}

@keyframes spin {
  from{
    transform: rotate(0deg);

  }to{
    transform: rotate(360deg);
  }
}

.loader{
  /* backdrop-filter: blur(20px) saturate(200%);
  -webkit-backdrop-filter: blur(20px) saturate(200%); */
  background-color: rgba(47, 47, 47, 0.604);
  /* border: 1px solid rgba(255, 255, 255, 0.125); */
}